.container{
    text-align: center;
}
.Loginform{
    width: 30%;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 2px solid rgb(189, 188, 188);
    padding: 15px 10px;
    border-radius: 5px;
    
}
.Loginform input{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
.Loginform p{
    text-align: right;
}